<section>
  <div class="page-header">
    <h1>Bodies</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="body in vm.bodies"
       data-ui-sref="bodies.view({ bodyId: body._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="body.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="body.user" data-ng-bind="body.user.displayName"></span>
        <span data-ng-if="!body.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="body.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.bodies.$resolved && !vm.bodies.length">
    No Bodies yet, why don't you <a data-ui-sref="bodies.create">create one</a>?
  </div>
</section>
